* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#card1 {
  --wrapper-background: #fff;
  --box-background: aqua;
  --box-border-color: green;
  --box-border-width: 2px;
  --scale-radius-to-border: 5;
  --scale-cicle-radius-to-box-radius: 1;
  --semi-circle-radius: calc(var(--scale-radius-to-border) * var(--box-border-width));
  --box-radius: calc(var(--scale-cicle-radius-to-box-radius) * var(--semi-circle-radius));
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: var(--wrapper-background);
}
#card1 .card {
  display: block;
  width: 200px;
  height: 100px;
  background-color: var(--box-background);
  position: relative;
  border: var(--box-border-width) solid var(--box-border-color);
  border-radius: var(--box-radius);
}
#card1 .card:before, #card1 .card:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--semi-circle-radius);
  height: calc(2 * var(--semi-circle-radius));
  background-color: var(--wrapper-background);
  border-width: 0;
  border-style: solid;
  border-color: var(--box-border-color);
  border-top-width: var(--box-border-width);
  border-bottom-width: var(--box-border-width);
  box-sizing: border-box;
  --positionning: calc(-1 * var(--box-border-width));
}
#card1 .card:before {
  left: var(--positionning);
  border-right-width: var(--box-border-width);
  border-top-right-radius: var(--semi-circle-radius);
  border-bottom-right-radius: var(--semi-circle-radius);
}
#card1 .card:after {
  right: var(--positionning);
  border-left-width: var(--box-border-width);
  border-top-left-radius: var(--semi-circle-radius);
  border-bottom-left-radius: var(--semi-circle-radius);
}

#wave1 {
  --color-1: #000;
  --color-2: blue;
  --wave-speed: 3s;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background: var(--color-1);
}
@keyframes move {
  to {
    background-position: -200% 0, -100% 0, 0 0, 100% 0;
  }
}
#wave1 .wave {
  background: radial-gradient(100% 58.1% at top, var(--color-1) 99%, var(--color-2)) 0, radial-gradient(100% 58.1% at bottom, var(--color-2) 99%, var(--color-1)) 100%, radial-gradient(100% 58.1% at top, var(--color-1) 99%, var(--color-2)) 200%, radial-gradient(100% 58.1% at bottom, var(--color-2) 99%, var(--color-1)) 300%;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  animation: move var(--wave-speed) infinite linear;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: tahoma;
  text-stroke: 1px var(--color-2);
  -webkit-text-stroke: 1px var(--color-2);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#button1 {
  --section-bg-color: #222;
  display: flex;
  justify-content: center;
  padding: 70px 0;
  background: var(--section-bg-color);
}
#button1 a {
  --box-color: #ff0;
  --base-time: .4s;
  --base-time-x4: calc(4 * var(--base-time));
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 20px;
  color: var(--box-color);
  position: relative;
  overflow: hidden;
  top: 0;
  transition: all 0.35s;
}
#button1 a span::before, #button1 a span::after {
  --base-pos: -100%;
  --goto-pos: 300%;
  --box-w: 100%;
  --box-h: 2px;
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(var(--box-oriantation), transparent, var(--box-color));
  top: var(--pos-top);
  right: var(--pos-right);
  bottom: var(--pos-bottom);
  left: var(--pos-left);
  width: var(--box-w);
  height: var(--box-h);
}
#button1 a span:first-child:after,
#button1 a span:last-child:after {
  --box-w: 2px;
  --box-h: 100%;
}
#button1 a span:first-child:before {
  --pos-left: var(--base-pos);
  --pos-top: 0;
  --box-oriantation: calc( 1 * 90deg);
  left: var(--base-pos);
  animation: doAnimate1 linear var(--base-time-x4) infinite;
  animation-delay: calc(0 * var(--base-time));
}
@keyframes doAnimate1 {
  0% {
    left: var(--base-pos);
  }
  100% {
    left: var(--goto-pos);
  }
}
#button1 a span:first-child:after {
  --pos-top: var(--base-pos);
  --pos-right: 0;
  --box-oriantation: calc( 2 * 90deg);
  top: var(--base-pos);
  animation: doAnimate2 linear var(--base-time-x4) infinite;
  animation-delay: calc(1 * var(--base-time));
}
@keyframes doAnimate2 {
  0% {
    top: var(--base-pos);
  }
  100% {
    top: var(--goto-pos);
  }
}
#button1 a span:last-child:before {
  --pos-right: var(--base-pos);
  --pos-bottom: 0;
  --box-oriantation: calc( 3 * 90deg);
  right: var(--base-pos);
  animation: doAnimate3 linear var(--base-time-x4) infinite;
  animation-delay: calc(2 * var(--base-time));
}
@keyframes doAnimate3 {
  0% {
    right: var(--base-pos);
  }
  100% {
    right: var(--goto-pos);
  }
}
#button1 a span:last-child:after {
  --pos-bottom: var(--base-pos);
  --pos-left: 0;
  --box-oriantation: calc( 4 * 90deg);
  bottom: var(--base-pos);
  animation: doAnimate4 linear var(--base-time-x4) infinite;
  animation-delay: calc(3 * var(--base-time));
}
@keyframes doAnimate4 {
  0% {
    bottom: var(--base-pos);
  }
  100% {
    bottom: var(--goto-pos);
  }
}
#button1 a:hover {
  top: 2px;
  -webkit-box-reflect: below 0 linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background: var(--box-color);
  color: var(--section-bg-color);
}

/*# sourceMappingURL=main.css.map */
