#button1{
  --section-bg-color: #222;
  display: flex;
  justify-content: center;
  padding: 70px 0;
  background: var(--section-bg-color);

  @mixin ciculateAnimate($pos1, $pos2, $number) {
    @keyframes doAnimate#{$number} {
      0%{
        #{$pos1}: var(--base-pos)
      }
      100%{
        #{$pos1}: var(--goto-pos)
      }
    }

    --pos-#{$pos1}: var(--base-pos);
    --pos-#{$pos2}: 0;
    --box-oriantation: calc( #{$number} * 90deg);
    #{$pos1}: var(--base-pos);
    animation: doAnimate#{$number} linear var(--base-time-x4) infinite;
    animation-delay: calc(calc($number - 1) * var(--base-time));
  }
  
  a{
    --box-color: #ff0;
    --base-time: .4s;
    --base-time-x4: calc(4 * var(--base-time));
    text-decoration: none;
    padding: 10px 20px;
    margin:0 20px;
    color: var(--box-color);
    position: relative;
    overflow: hidden;
    top: 0;
    transition: all .35s;

    span{      
      &::before,
      &::after{
        --base-pos: -100%;
        --goto-pos: 300%;
        --box-w: 100%;
        --box-h: 2px;
        content: "";
        display: block;
        position: absolute;
        background: linear-gradient(var(--box-oriantation), transparent, var(--box-color));
        top: var(--pos-top);
        right: var(--pos-right);
        bottom: var(--pos-bottom);
        left: var(--pos-left);
        width: var(--box-w);
        height: var(--box-h);
      }
    }

    span:first-child:after,
    span:last-child:after{
      --box-w: 2px;
      --box-h: 100%;
    }

    span:first-child:before{
      @include ciculateAnimate(left, top, 1);
    }
    span:first-child:after{
      @include ciculateAnimate(top, right, 2);
    }
    span:last-child:before{
      @include ciculateAnimate(right, bottom, 3);
    }
    span:last-child:after{
      @include ciculateAnimate(bottom, left, 4);
    }

    &:hover{
      top: 2px;
      -webkit-box-reflect: below 0 linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
      background: var(--box-color);
      color: var(--section-bg-color)
    }
  }
}