#wave1 {
  --color-1: #000;
  --color-2: blue;
  --wave-speed: 3s;

  @keyframes move {
    to {
      background-position:
         -200% 0,
         -100% 0,
         0 0,
         100% 0;
    }
  }

  display: flex;
  justify-content: center;
  padding: 30px 0;
  background: var(--color-1);
  
  .wave {
    background:
      radial-gradient(100% 58.1% at top ,var(--color-1) 99%, var(--color-2)) 0,
      radial-gradient(100% 58.1% at bottom,var(--color-2) 99%, var(--color-1)) 100%,
      radial-gradient(100% 58.1% at top ,var(--color-1) 99%, var(--color-2)) 200%,
      radial-gradient(100% 58.1% at bottom,var(--color-2) 99%, var(--color-1)) 300%;
    background-size:50% 100%;
    background-repeat:no-repeat;
    animation: move var(--wave-speed) infinite linear;
    padding: 60px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: tahoma;
    text-stroke: 1px var(--color-2);
    -webkit-text-stroke: 1px var(--color-2);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}